html {
    height: 100%;
    box-sizing: border-box; /* Makes sure padding and border are included in the total height and width */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', sans-serif;
    background-color: #FAFAFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Viewport height */
    margin: 0;
}

.header {
    background-color: #3706FB; /* Color from Rectangle 2 */
    padding: 40px;
    text-align: left;
    color: white;
}

.footer {
    width: 100%;
    background-color: #3706FB; /* Color from Rectangle 2 */
    padding: 40px;
    text-align: left;
    color: white;
}

.new-registration {
    background-color: #FFC701; /* Color from Rectangle 9 */
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
}

.button-container {
    display: flex;
}

.content-wrap {
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}

form {
    width: 50%; /* Adjust the width as needed */
    margin-right: 20px; /* To give space between the form and the image */
}

form > div {
    margin-bottom: 20px; /* Spacing between form fields */
}

form header {
    font-size: 24px; /* Adjust the size as needed */
    margin-bottom: 20px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%; /* Full width of the parent */
    padding: 10px;
    margin-top: 5px; /* Spacing from the label */
    border: 1px solid #ccc;
    border-radius: 20px; /* Rounded borders */
}

textarea {
    height: 150px; /* Adjust height as needed */
    resize: vertical; /* Allows resizing only vertically */
}


/* If there's an element for the product image, you might style it like this: */
.product-image-container {
    border: 2px dashed #ccc;
    width: 200px; /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    border-radius: 10px; /* Match the rounding of the corners to the image */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ccc;
    margin-left: 20px;
}